<%= javascript_include_tag "jquery-1.5.1.min","jquery-ui-1.8.14.custom.min","scales/scales" %>
<%= stylesheet_link_tag  "scales/scales" %>

<div id="options">
  <div id="minus">-</div>
  <ul id="scale_list" class="step">
    <li id="all">All -</li>
    <li id="organism">Organism -</li>
    <li id="liver">Liver -</li>
    <li id="liverLobule">Liver lobule -</li>
    <li id="intercellular">Intercellular -</li>
    <li id="cell">Cell -</li>
  </ul>
  <div id="slider" class="ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all">
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 80%;"></a>
  </div>
  <div id="plus">+</div>
</div>