<div id="myexp_sidebar" class="yui-b">
  <div class="sysmo_gadget">
    <div class="header curved_top">
      <p> Log in / Register </p>
    </div>
    <div class="contents curved_bottom">
      <form method="post" action="/session" accept-charset="UTF-8">

        <input id="called_from_controller" type="hidden" value="homes" name="called_from[controller]">
        <input id="called_from_action" type="hidden" value="index" name="called_from[action]">
        <input id="called_from_id" type="hidden" name="called_from[id]">

        <div class="login_surround curved">
          <div id="password_login">
            <p class="label"> Login: </p>

            <p>
              <input id="login" class="field" type="text" style="width:150px" name="login">
            </p>

            <p class="label"> Password: </p>

            <p>
              <input id="password" class="field curved" type="password" style="width:150px" name="password">
            </p>

            <p class="label">
              Remember me:
              <input id="remember_me" type="checkbox" style="width:2em;" name="remember_me">
            </p>
          </div>
          <div id="openid_login" style="display: none">
            <p class="label">
              <a href="#" target="_blank"><%= image_tag "openid-16x16.gif" %>OpenID:</a>
            </p>

            <p>
              <input id="openid_identifier" class="field curved" type="text" style="width:150px" name="openid_identifier">
            </p>
          </div>
          <p>
            Alternatively...
            <br>
            <a href="#" id="login_toggle_link">Log in using <%= image_tag "openid-16x16.gif" %>OpenID</a>
            <br>
          </p>
        </div>
        <p>
          <input id="login_button" type="submit" value="Log in" onclick="$('login_button').disabled=true;this.form.submit();return(false);" name="commit">
        </p>
      </form>
      <p>
        <b>Need an account?</b>
        <br>
        <b>
          <a href="#">Sign up</a>
        </b>
      </p>

      <p style="font-size: 83%;">
        <b>
          <a href="#">Forgotten password?</a>
        </b>
      </p>
    </div>
  </div>


  <div id="sidebar_tag_cloud">
    <div class="sysmo_gadget">
      <div class="header curved_top">
        Tags
        <a href="#">[show all]</a>
      </div>
      <div class="contents curved_bottom">
        <div class="tags_smaller">
          <div class="hTagcloud">
            <div class="popularity">
              <a href="#"> tag1</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div id="organism_gadget" class="sysmo_gadget">
    <div class="header curved_top"> Organisms</div>
    <div class="contents curved_bottom">
      <ul>
        <li>
          <a href="#"> organism example</a>
        </li>
      </ul>
    </div>
  </div>


</div>