<div id="topbar" class="curved_top">
  <div style="float:left;">
    <%=  render(:partial=>"general/tabnav_dropdown") %>

  </div>
  <div>
    <%= render :partial=>"search/search_box" %>

  </div>
</div>

<%= select_menu(menu_definitions) unless Seek::Config.is_virtualliver-%>


