<section>
    <nav class="alphabetcal_pagination" >
        <span><a href="#" class="latest">Latest</a></span>
        <span><a href="#" class="all">All</a></span>
        <ul>
            <li class=""><a href="#">A</a></li>
            <li class="disabled_page ">B</li>
            <li class="disabled_page ">C</li>
            <li class="disabled_page ">D</li>
            <li class=""><a href="#">E</a></li>
            <li class="disabled_page ">F</li>
            <li class=""><a href="#">G</a></li>
            <li class=""><a href="#">H</a></li>
            <li> ... </li>
            <li class=""><a href="#">U</a></li>
            <li class=""><a class="current_page" href="#">V</a></li>
            <li class="disabled_page ">W</li>
            <li class="disabled_page ">X</li>
            <li class="disabled_page ">Y</li>
            <li class="disabled_page ">Z</li>
            <li class="disabled_page ">Other</li>            
        </ul>
    </nav>
</section>