


<div id="body" style="min-width: 100%; border: 1px solid "  >
  <header>
      <a id="seek_logo">seek logo</a>
      <a id="image_block">project logo</a>
  </header>
   <nav style="line-height: 2em">
        main navigation
        <div id="search_box" style="height: 100%; color: black;">search box</div>
  </nav>
  <main>
    <section style="height: 10em;">Section 1</section>
    <section style="height: 20em;">Section 2</section>
  </main><aside>
    <div class="sysmo_gadget" style="height: 10em;">Gadget 1</div>
    <div class="sysmo_gadget" style="height: 5em;">Gadget 2</div>   
  </aside>
  <footer >
    <p class="copyright">footer</p>
  </footer>
</div>


