<div>
  <div class="circle blue_bg_color_drop_down_menu">#3173ff </div>
  <div class="circle link_color"> #000099 </div>
  <div class="circle none_text_color"> #666666</div>
  <div class="circle blue_bg_color_gadget_button">  #307af5 </div>
  <div class="circle blue_bg_color_menu_tab">  #317eff </div>

  <div class="circle box_standout_color">  #fffeda </div>
  <div class="circle side_bar_bg_color">  #456aaa </div>
  <div class="circle footer_bg_color"> #eee</div>
  <div class="circle gray_bg_color"> #f0f0f0 </div>

  <div class="circle blue_bg_color_menu_tab_hover"> #2651ff </div>
  <div class="circle related_items_tabs_bg_color">  #ccccff </div>
  <div class="circle green_link_hover_color"> #17B274 </div>

  <div class="color-sample sample-board-color-1" style="clear: both">
    <span class="brighter-90">90
    </span><span class="brighter-80">80
    </span><span class="brighter-70">70
    </span><span class="brighter-60">60
    </span><span class="brighter-50">50
    </span><span class="brighter-40">40
    </span><span class="brighter-30">30
    </span><span class="brighter-20">20
    </span><span class="brighter-10">10
    </span><span class="original">0
    </span><span class="darker-10">10
    </span><span class="darker-20">20
    </span><span class="darker-30">30
    </span><span class="darker-40">40
    </span><span class="darker-50">50
    </span><span class="darker-60">60
    </span><span class="darker-70">70
    </span><span class="darker-80">80
    </span><span class="darker-90">90
  </div>
  <div class="color-sample sample-board-color-2" style="clear: both">
    <span class="brighter-90">90
    </span><span class="brighter-80">80
    </span><span class="brighter-70">70
    </span><span class="brighter-60">60
    </span><span class="brighter-50">50
    </span><span class="brighter-40">40
    </span><span class="brighter-30">30
    </span><span class="brighter-20">20
    </span><span class="brighter-10">10
    </span><span class="original">0
    </span><span class="darker-10">10
    </span><span class="darker-20">20
    </span><span class="darker-30">30
    </span><span class="darker-40">40
    </span><span class="darker-50">50
    </span><span class="darker-60">60
    </span><span class="darker-70">70
    </span><span class="darker-80">80
    </span><span class="darker-90">90
  </div>
  <div class="color-sample sample-board-color-3" style="clear: both">
    <span class="brighter-90">90
    </span><span class="brighter-80">80
    </span><span class="brighter-70">70
    </span><span class="brighter-60">60
    </span><span class="brighter-50">50
    </span><span class="brighter-40">40
    </span><span class="brighter-30">30
    </span><span class="brighter-20">20
    </span><span class="brighter-10">10
    </span><span class="original">0
    </span><span class="darker-10">10
    </span><span class="darker-20">20
    </span><span class="darker-30">30
    </span><span class="darker-40">40
    </span><span class="darker-50">50
    </span><span class="darker-60">60
    </span><span class="darker-70">70
    </span><span class="darker-80">80
    </span><span class="darker-90">90
  </div>
  <div class="color-sample sample-board-color-4" style="clear: both">
    <span class="brighter-90">90
    </span><span class="brighter-80">80
    </span><span class="brighter-70">70
    </span><span class="brighter-60">60
    </span><span class="brighter-50">50
    </span><span class="brighter-40">40
    </span><span class="brighter-30">30
    </span><span class="brighter-20">20
    </span><span class="brighter-10">10
    </span><span class="original">0
    </span><span class="darker-10">10
    </span><span class="darker-20">20
    </span><span class="darker-30">30
    </span><span class="darker-40">40
    </span><span class="darker-50">50
    </span><span class="darker-60">60
    </span><span class="darker-70">70
    </span><span class="darker-80">80
    </span><span class="darker-90">90
  </div>
  <div class="color-sample sample-board-color-5" style="clear: both">
    <span class="brighter-90">90
    </span><span class="brighter-80">80
    </span><span class="brighter-70">70
    </span><span class="brighter-60">60
    </span><span class="brighter-50">50
    </span><span class="brighter-40">40
    </span><span class="brighter-30">30
    </span><span class="brighter-20">20
    </span><span class="brighter-10">10
    </span><span class="original">0
    </span><span class="darker-10">10
    </span><span class="darker-20">20
    </span><span class="darker-30">30
    </span><span class="darker-40">40
    </span><span class="darker-50">50
    </span><span class="darker-60">60
    </span><span class="darker-70">70
    </span><span class="darker-80">80
    </span><span class="darker-90">90
  </div>
</div>