


<div id="doc3" class="yui-t2" style="min-width: 100%">

  <div id="header" style="border: solid;">
     header
    <ul id="header" >
        <li id="seek_logo" style="border: solid;">
          <a> SEEK Logo </a>
        </li>
        <li id="header_text" class="logged_in" style="border: solid; width:70%; " >
          <p id="header_text_main" class="box_standout"> Header text </p>
        </li>
        <li id="image_block" class="logged_in" style="border: solid; ">
           <a href="#">Project Logo</a>
        </li>
      </ul>
  </div>
  <div id="logged_in_as" style=" border: solid;">User Profile</div>
  <div style="border: solid;">
    <table> navigation menus</table>
  </div>
  <div id="topbar" style="border: solid;">top bar

    <div id="search_box" style=" border: solid ;  " > search bar</div>
  </div>
  <div id="bd" style="min-height: 100%">
    <div id="yui-main">
      <div id="content" class="yui-b" style="
        text-align: center;
        border: solid;
        height: 100px;">  main content </div>

    </div>
    <div id="myexp_sidebar" class="yui-b" style="background-color:  #456aaa ;border: solid; height: 100px;"> side bar </div>

  </div>
  <div id="ft" style="border: solid">
   <p class="copyright">footer</p>
  </div>
</div>


