<div>
  <div class="circle blue_bg_color_drop_down_menu">#3173ff </div>
  <div class="circle link_color"> #000099 </div>
  <div class="circle none_text_color"> #666666</div>
  <div class="circle blue_bg_color_gadget_button">  #307af5 </div>
  <div class="circle blue_bg_color_menu_tab">  #317eff </div>

  <div class="circle box_standout_color">  #fffeda </div>
  <div class="circle side_bar_bg_color">  #456aaa </div>
  <div class="circle footer_bg_color"> #eee</div>
  <div class="circle gray_bg_color"> #f0f0f0 </div>

  <div class="circle blue_bg_color_menu_tab_hover"> #2651ff </div>
  <div class="circle related_items_tabs_bg_color">  #ccccff </div>
  <div class="circle green_link_hover_color"> #17B274 </div>

</div>