<div id="body">
  <footer>
    <p class="copyright">Copyright 1 <a> University 1</a> </p>
    <p class="copyright">Copyright 2 <a> Institute 2</a></p>

    <div>
      <table>
        <tbody>
        <tr>
          <td class="left"> </td>
          <td class="middle"> </td>
          <td class="right"> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </footer>
</div>