<div id="header" style="border: solid #808080 ">
  <ul id="header" >
    <li id="seek_logo" style="border: solid;">
      <a href="#">
        <%= image_tag "seek-logo-smaller.png", {:alt => "Virtual Liver SEEK"} %>
      </a>
    </li>
    <li id="header_text" class="logged_in" style="border: solid;" >
      <p id="header_text_main"></p>
    </li>
    <li id="image_block" class="logged_in" style="border: solid;">
      <a class="logo_link" href="#">
        <%= image_tag "vln-logo-small.png", {:alt => "Virtual Liver Project"} %>
      </a>
    </li>
  </ul>
</div>