<ul class="tabbernav">
  <li class="tabberactive"> <a> Investigations <span class="count">79</span> </a> </li>
  <li> <a href="#"> Studies <span class="count">33<span>  </a></li>
  <li> <a href="#"> Assays <span class="count">52</span></a> </li>
  <li> <a href="#"> Samples <span class="count">184</span> </a> </li>
  <li> <a href="#"> Specimens <span class="count">201</span> </a></li>
  <li> <a href="#"> Data Files <span class="count">201</span> </a></li>
  <li> <a href="#"> Modles <span class="count">201</span> </a></li>
  <li> <a href="#"> SOPs <span class="count">201</span> </a></li>
  <li> <a href="#"> Publications <span class="count">201</span> </a></li>

</ul>