<ul class="tabbernav">
  <li class="tabberactive"> <a> Investigations (79) </a> </li>
  <li> <a href="#"> Studies (33)  </a></li>
  <li> <a href="#"> Assays (52)</a> </li>
  <li> <a href="#"> Samples (184) </a> </li>
  <li> <a href="#"> Specimens (201) </a></li>

</ul>