//Colors
$blueBgColorDropDownMenu: #3173ff;
$primaryLinkColor: #000099;
$highlightColor: #fffeda;
$primaryHoverColor: #47bee4;
$styleGuideGray:  #cccccc;
$h1Color: #456AAA;
$sideBarBackgroundColor: #456aaa;
$mainContentBackgroundColor: #fafafa;
$footerBackgroundColor: #eee;
$grayBackgroundColor: #f0f0f0;
$blueBgColorGadgetButton: #307af5;
$blueBgColorMenuTab: #317eff;
$blueBgColorMenuTabHover: #2651ff;
$blueBgColorMenuTab: #317eff;
$relatedItemsTabsBgColor: #ccccff;
$greenLinkHoverColor: #17B274;
$noneTextColor: #666666;

//Images







