//Colors
$blueBgColorDropDownMenu: #3173ff;
$primaryLinkColor: #000099;
$highlightColor: #fffeda;
$primaryHoverColor: #47bee4;
$styleGuideGray:  #cccccc;
$h1Color: #456AAA;
$sideBarBackgroundColor: #456aaa;
$mainContentBackgroundColor: #fafafa;
$footerBackgroundColor: #eee;
$grayBackgroundColor: #f0f0f0;
$blueBgColorGadgetButton: #307af5;
$blueBgColorMenuTab: #317eff;
$blueBgColorMenuTabHover: #2651ff;
$blueBgColorMenuTab: #317eff;
$relatedItemsTabsBgColor: #ccccff;
$greenLinkHoverColor: #17B274;
$noneTextColor: #666666;
$DarkForeColor: #015D8E;

$vlnLighterBlue: #147EB7;

$mainBg: #F0F0F0;
$mainFg: #0077B5;

$secondary-color-green: #0fa58a;
$secondary-color-lime: #4bb346;
$secondary-color-purple: #a30fa3;

$darkBg: #015D8E;
$lightBg: #FFFFFF;
$darkFg: $darkBg;
$lightFg: #FFF;
$blackFg: #282828;
$boxshadow: darken($mainBg, 10%);
$darkBoxshadow: #91BACF;
$tab: #147EB7;
$tabActive: #ABDBF4;
$itemsnum: #DEF4FF;
$accet: #36A739;



//Images







