@import "variables";


.blue_bg_color_drop_down_menu {
  background-color: $blueBgColorDropDownMenu;
}

.link_color {
  background-color: $primaryLinkColor;
}
.box_standout_color {
  background-color: $highlightColor;
}

.side_bar_bg_color{
  background-color: $sideBarBackgroundColor;
}
.footer_bg_color{
  background-color: $footerBackgroundColor;
}
.gray_bg_color{
  background-color: $grayBackgroundColor;
}

.blue_bg_color_gadget_button{
 background-color: $blueBgColorGadgetButton;
}
.blue_bg_color_menu_tab {
 background-color: $blueBgColorMenuTab;
}

.blue_bg_color_menu_tab_hover {
  background-color: $blueBgColorMenuTabHover;
}
.related_items_tabs_bg_color {
  background-color: $relatedItemsTabsBgColor;
}
.green_link_hover_color {
  background-color: $greenLinkHoverColor;
}

.none_text_color{
  background-color: $noneTextColor;
}




